<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Course Selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-list-header>Select a Course!</ion-list-header> -->
    <ion-item>
      <ion-label>All Courses</ion-label>
      <ion-select *ngIf="courses" interface="popover" placeholder="Select" (ionChange)="selectCourse($event.detail.value)" >
        <ion-select-option *ngFor="let course of courses" [value]="(course.id)">{{ course.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="selectedCourse">
    <img [src]="selectedCourse.image" />
    <ion-card-header>
      <ion-card-subtitle>{{ selectedCourse.phone }}</ion-card-subtitle>
      <ion-card-title>{{ selectedCourse.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ selectedCourse.address }}, {{ selectedCourse.city }}, {{ selectedCourse.state }} <br>
      <ion-chip><ion-icon name="md-globe"></ion-icon><a [href]="selectedCourse.website">{{ selectedCourse.website }}</a></ion-chip> <br>
      <br>
      Holes: {{ selectedCourse.hole_count }}
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" *ngIf="selectedCourse">
    Next
  </ion-button>
  <ion-card *ngIf="!selectedCourse">
    <ion-skeleton-text animated style="width: 100%; height: 40%;"></ion-skeleton-text>
    <ion-card-header>
      <ion-card-subtitle>No course selected. Select a course above!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
